<% @lists.each do |list| %>
  <article class="mb-3">
    <h2><a href="<%= list_path(list) %>"><%= list.name %></a></h2>
  </article>
<% end %>
<a class="btn btn-primary" href="/lists/new">New list</a>
